

$body-color: #ecf0f1;

body {
	background-color: $body-color;
}

#wrapper {
	background-color: transparent;
	margin: 0 auto;
}


header {
	padding: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.input-area {
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.shopping-list {
	

	li {
		text-align: left;
		border: 3px solid #999;
		padding: 20px;
		margin: 5px;
	}	
}

.completed {
	background-color: #27ae60;
	color: #FFF;
}
.test {
	background-color: purple;
}

.thing {
	color: green;
	text-align: left;
	border: 3px solid #999;
	padding: 20px;
	margin: 5px;
}